
@model  IEnumerable<Category>



    <div class="categories-container">


        <ul class="categories row justifiy-center align-center">

            @foreach (var category in Model)
            {

                <li class="row justifiy-center align-center"><a asp-controller="Category" asp-action="Index" asp-route-id="@category.CategoryId"><img src="@Url.Content(@category.Image)" />@category.Name</a></li>


            }



        </ul>


    </div>