
    <div class="categories-container border-style">


        <ul class="categories row justifiy-center align-center ">


            <li class="row justifiy-center align-center as">Account Settings</li>
            <li class="row justifiy-center align-center wl">Watchlist</li>
            <li class="row justifiy-center align-center mb">MessageBox</li>
            <li class="row justifiy-center align-center mp">MyProduct</li>
            <li class="row justifiy-center align-center mo">MyOffers</li>
            <li class="row justifiy-center align-center o">Offers</li>



        </ul>


    </div>