
    <div class="categories-container border-style">


        <ul class="categories row justifiy-center align-center ">


            <li class="row justifiy-center align-center as">Account Settings</li>
            <li class="row justifiy-center align-center wl">Watchlist</li>
            <li class="row justifiy-center align-center mb">MessageBox</li>
            <li class="row justifiy-center align-center mp"><a asp-controller="profile" asp-action="index">MyProduct</a></li>
            <li class="row justifiy-center align-center mo"><a asp-controller="profile" asp-action="MyOffer">MyOffers</a></li>
            <li class="row justifiy-center align-center o">Offers</li>



        </ul>


    </div>