@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

 
    <link href="~/content/loginstylesheet.css" rel="stylesheet" />

    <div class="half-container login-container">


        <form id="login-form" class="form-template" method="post">
        
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">

                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" />
                <span asp-validation-for="Input.Username"></span>

                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" />
                <span asp-validation-for="Input.Password"></span>



                <button type="submit" class="login-big">Log in</button>

            </div>



                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="color:white; text-decoration:none">Register as a <span style="color:#17B0BA">new user</span></a>
                </p>

        </form>


        <div class="dummy-account-container">

            <a  asp-page-handler="DummyAccount" asp-route-accountType="dummyaccount1" class="dummy-button">Login as dummy account 1</a>
            <a  asp-page-handler="DummyAccount" asp-route-accountType="dummyaccount2" class="dummy-button">Login as dummy account 2</a>
            <a  asp-page-handler="DummyAccount" asp-route-accountType="dummyAdmin" class="dummy-button">Login as dummy Admin</a>


        </div>







    </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
