

.main-container {
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    overflow-x:hidden;
}

.header {
   
}


    .header .container {
        height: 700px;
        display: grid;
        grid-template-columns: 60% 30%;
        grid-template-rows: 1fr;
        grid-column-gap: 1.5rem;
        justify-content: center;
        align-items: center;
        position: relative;
        background: rgb(27,64,121); 
        z-index:1;
    }
    .header .container::before {
        content: url(/Image/wave.png);
        position: absolute;
        z-index:-1;
        background-size:100% 100%;
        width: 100%;
        bottom:0;
       
    }
    .heading-content {
        justify-self: center;
    }
.heading {
    font-size: 96px;
    font-weight: 700;
    max-width:538px;
    color:white;
    text-transform: uppercase;
    line-height: 100px;
}

.sub-heading {
    margin-top: 1.5em;
    width: 514px;

    font-size: 24px;
    line-height: 35px;
    color: #B9B6B6;
}
.sellnow {
    width: 228px;
    height: 65px;
    color: white;
    background: #0CA51C;
    margin-top: 1.5em;
}

    .sellnow a {
        text-decoration:none;
        color:white;
        font-size: 24px;
        font-weight: bold;
    }
    .sellnow:hover {
        cursor: pointer;
        background-color: #1d71f2;
    }


        .header-img {
            grid-column: 2;
            min-height: 200px;
            min-width: 330px;
            max-height: 230px;
            max-width: 380px;
            width: 100%;
            justify-self: start;
        }






.spotlight {
  

}


    .spotlight > .container {
        padding: 5.5rem 7em;

    }

.spotlight-heading {
    width: 100%;
    padding-bottom: .4em;
    color: #1d71f2;
    font-weight: bold;
    border-bottom: 1px solid #A3A4A6;
    font-size: 1.7rem;
}
.spotlight-item {
    margin-top: 1.3em;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-row-gap: 3em;
    grid-column-gap:1.2em;
}


.card-container {
    width: 100%;
    position: relative;
}
.crown {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #2ef556;
    font-size: 2rem;

    border-radius: 50%;
}


.spotlight .card-container a {
    text-decoration: none;
}

.card-img {
    width: 100%;
   
    max-width: 100%;
    object-fit: cover;
}



.spotlight .card-img {
    width: 100%;
    min-height:230px;
    max-height: 230px;
    max-width: 100%;
    object-fit: cover;
}




.card-price {
   
    font-size: 16px;
    margin-top:.5em;
    color:black;
   
  
}



        .spotlight .card-price {
          
        }
.card-title {
    margin-top: .6em;
    width: 100%;
    color: #046af8;
    font-weight:500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1rem;
}


.new-content > .container{
}

.new-content > .container {
    padding: 4em 7em;
    padding-bottom: 4em;
}

.new-heading {
    width: 100%;
    padding-bottom: .4em;
    color: #2158AC;
    font-weight: bold;
    border-bottom: 1px solid #A3A4A6;
    font-size: 1.5rem;
   
}

.new-item .card-container a {
    text-decoration:none;
}
.new-item {

    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1em;
    grid-row-gap: 4em;
    

}
    .new-item .card-img {
        object-fit: cover;
        max-width: 600px;
        max-height: 200px;
    }

    .new-item li:nth-child(3) {
      
    }
   