
.profile-container {
    width: 100%;
    background: #1B4079;
    height: 100%;
    overflow-y: hidden;
}

    .profile-container .half-container {
        width: 95%;
        max-width: 960px;
        padding: 4em 6em;
    }
