

    <html xmlns="http://www.w3.org/1999/xhtml">


    <head>
        <title>@ViewBag.Title</title>
        <link href="~/content/NavStyleSheet.css" rel="stylesheet" />
    </head>





    <body>

        <nav>

            <div class="nav-container">

                <h1>Flocker</h1>

                <input type="text" id="searchBox"/>

                <h1>hello world</h1>

                <div class="nav-buttons">

                    <a>Login</a>
                    <a>Register</a>


                </div>




            </div>



        </nav>


        @RenderBody()





    </body>





    </html>

